body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

:root {
    --border-color: rgb(231, 136, 27); 
    --shadow-color: rgba(231, 136, 27, 0.5);
    --text-color: white;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 80px;
    margin-bottom: 0;
    color: var(--text-color);
}

h2 {
    margin: 0;
    color: var(--text-color);
}

h3 {
    margin: 0;
    color: var(--text-color);
}

/* Header */

.MainPageHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    height: 80px;
    padding-left: 16px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 5px 6px var(--shadow-color);
}

.HeaderLogo {
    height: 72px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(./imgs/mainPics/rain_bg.jpg);
    background-position: center;
    background-size: cover;
}

.ImageContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 12px;
    margin-bottom: 16px;
    padding-top: 80px;
}

.mainPageImages {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    border: 2px solid var(--border-color);
}

.mainPageImages:hover {
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

/* Footer */
.MainPageFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 -5px 6px var(--shadow-color);
}

.FooterLogo {
    height: 72px;
    margin-top: 8px;
}

/* Dialog */
#imageDialog {
    justify-items: center;
    border-radius: 12px;
    width: 640px;
    height: 720px;
    padding: 0;
    border: 2px solid var(--border-color);
    background-color: black;
    color: white;
    background-image: url(./imgs/mainPics/rain_bg.jpg);
    background-position: center;
    background-size: cover;
}

#imageDialog::backdrop {
    background-color: rgb(128, 128, 128, 0.275);
}

.DialogHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
}

#dialogImages {
    width: 480px;
    height: 480px;
    margin-top: 24px;
    border: 1px solid var(--border-color);
}

#dialogFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 8px;
}

.Close-button {
    font-size: 60px;
    color: #ffffff;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s;
    padding: 0;
    outline: none;
    position: absolute;
    top: 0;
    right: 8px;
}

.Close-button:hover {
    background-color: var(--shadow-color);
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: var(--border-color);
}

.Previous {
    margin-right: 8px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    background-color: var(--shadow-color);
}

.Next {
    margin-left: 8px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    background-color: var(--shadow-color);
}

.d_none {
    display: none;
}

@media (max-width: 700px) {
    #imageDialog {
        width: 520px;
        height: 600px;
    }

    #dialogImages {
        width: 400px;
        height: 400px;
    }

    .DialogHeader {
        height: 60px;
    }
}

@media (max-width: 600px) {
    #imageDialog {
        width: 400px;
        height: 480px;
    }

    #dialogImages {
        width: 320px;
        height: 320px;
    }

    .DialogHeader {
        height: 40px;
    }
}

@media (max-width:450px) {
    
    .headerLogo{
        height: 54px;
    }
}